.background-constellation {
  background: url("../svg/endless-constellation.svg") repeat center center fixed;
  background-size: auto;
  background-color: #330033;
  // Add a filter to make the background darker
}
